html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #001232;
  --secondary: #dbe2fb;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--primary);
  line-height: 28px;
  overflow-x: hidden;
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  background: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
}

.f-600 {
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.box-shadow {
  box-shadow: 2px 2px 7px 0 #7d7d7d;
}

body::-webkit-scrollbar,
.details::-webkit-scrollbar,
.details textarea::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb,
.details::-webkit-scrollbar-thumb,
.details textarea::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body::-webkit-scrollbar-track,
.details::-webkit-scrollbar-track,
.details textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 6px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 30%);
  background-color: #f5f5f5;
}

.row,
ul,
p,
label {
  margin: 0;
  padding: 0;
  color: var(--primary);
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.loader {
  position: absolute;
  z-index: 100;
  transform: scale(0.15);
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
}
/* --- Login -----  */

.login-body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  height: 100vh;
}

.login {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.login .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
}

.login .form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.login .form input:focus {
  background: #dbdbdb;
}

.login .form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login .form button:active {
  background: #395591;
}

.login .form span {
  font-size: 25px;
  color: #4b6cb7;
}

/* ---- navbar ------- */

.navbar {
  background-color: var(--primary);
  color: #fff;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 8px 16px;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: var(--secondary);
}

/* -------  */

.filter-section-header .header-options {
  font-size: 14px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  padding: 2px 20px;
  background: var(--secondary);
  /* box-shadow: inset 2px 2px 7px 0 var(--primary); */
  color: var(--primary);
  cursor: pointer;
}

.filter-section-header .header-options.active,
.filter-section-header .header-options:hover {
  color: #fff;
  background-color: var(--primary);
  box-shadow: 2px 2px 7px 0 var(--primary);
}

.filter-section-header .header-options input[type="date"] {
  background: none;
  border: none;
  outline: 0;
  padding: 0;
}

.filter-section-header .header-options:hover label,
.filter-section-header .header-options:hover input[type="date"] {
  color: #fff;
  cursor: pointer;
}

.filter-section-header
  .header-options:hover
  input[type="date"]::-webkit-calendar-picker-indicator {
  color: #fff;
  background-color: #fff;
  cursor: pointer;
}

.card-img {
  height: 200px;
}

.card-footer .footer-icon {
  margin-right: 10px;
  cursor: pointer;
}

.card-footer .footer-icon:hover {
  color: #000;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.edit-modal {
  position: fixed;
  height: 100vh;
  overflow: auto;
  background: var(--secondary);
  top: 0;
  right: 0;
  /* box-shadow: -2px 2px 7px 0 #7d7d7d; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  animation: toleft 0.4s linear;
  transition: all linear 0.4s;
  z-index: 10;
}

@keyframes toleft {
  0% {
    right: -100%;
    opacity: 0;
  }
  80% {
    right: 0;
  }
  100% {
    opacity: 1;
  }
}

.details .back {
  color: #fff;
  background: var(--primary);
}

.details label {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.details input,
.details textarea {
  font-size: 14px;
  background: none;
  padding: 2px 10px;
  padding-left: 0;
  outline: 0;
  border: none;
  border-bottom: 1px solid #7d7d7d;
  margin-left: 16px;
  text-align: justify;
}

.details input[type="date"] {
  padding-left: 10px;
  margin: 0;
  border: none;
  color: #fff;
  background-color: var(--cyan);
}

.details input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #fff;
  cursor: pointer;
}

.details .tagger {
  float: right;
  margin-top: -22px;
  color: green;
}

.details .pills {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: var(--primary);
  color: #fff;
}

.details .special {
  flex-grow: 1;
  color: #fff;
  background-color: var(--warning);
  padding: 2px 10px;
  text-transform: uppercase;
  text-align: center;
}

.details .filetype {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.details .uplabel {
  position: absolute;
  color: #fff;
  width: fit-content;
  height: fit-content;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.details .banner:hover .uplabel {
  z-index: 3;
}

@media only screen and (max-width: 992px) {
  .details input,
  .details textarea {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .details .special {
    margin: 5px 0;
  }
  .details input[type="date"] {
    margin-bottom: 8px;
  }
}
